%div#custom-photos
  .pull-left#line
    = link_to "开始定制旅程的记忆", new_production_path(:p_type => "facet"), :class => "btn btn-blue btn-large"
  .pull-right#dot  
    = link_to "开始定制熟悉的点", new_production_path(:p_type => "radial"), :class => "btn btn-large btn-pink"
.clearfix  
%h1 “心私”现在可以选择两种以上的定制
-#%p= @user.email
