// Place all the styles related to the pruduction controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.productions{
  .each-production{
    width: 31%;
    margin: 0 1%;
    a{
      width: 91.2%;
      margin: 0 0;
    }
  } 
}

.production-show{
  img{
    // width:30%;
  }
  .production-message{
    width: 20%;
    margin: 0 0 0 15%; 
  }
  .dots-show{
    // width: 20%;
  }
}

.production-new{
  .get-positions, #production-select-pattern, #production-select-others{
    position: relative;
    width: 30%;
    height: 600px;
  }
  #production-select-pattern, #production-select-others{
    .production-selct-title{
      margin-top: 10px;      
      span{
      // width: 50%;
        font-size: 1.2em;
        padding: 10px 35px;
      }
    }
    .pattern-image-show-block{
      margin-top: 50px;
      .pattern-image-show{
        float: left;
        margin: 0px 5px 20px;
        .pattern-image-show-image{
          width: 120px;
          height: 120px;
          border: 5px solid #eee;
        }

        div{
          text-align: center;
        }
      }
    }
  }
  .button-bottom{
    .button-bottom-left{
      position: absolute;
      bottom: 0px;
    }
    .button-bottom-right{
      position: absolute;
      right: 0px;
      bottom: 0px;
    }
  }

  #map-display{
    width: 70%;
    height: 600px;
    overflow: hidden;
    margin:0;}
}