// Place all the styles related to the pruduction controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.productions{
  .each-production{
    width: 31%;
    margin: 0 1%;
  } 
}

.production-show{
  img{
    // width:30%;
  }
  .production-message{
    width: 20%;
    margin: 0 0 0 15%; 
  }
  .dots-show{
    // width: 20%;
  }
}